<%- include("partials/header") -%>
<div class="content flex-content">

<% if(homeContent !== null){ %>
<% homeContent.forEach((content)=>{ %>
  <a class="avant-link" href=<%=content.link%>>
  <div class="avant">
  <h1 class="avant-color">
    <%= content.title; %>
  </h1>

  <p>
  <%= content.message.substr(0,100) +"..."; %>
  </p>
</div>
</a>

<% }); %>
<% } %>
</div>
<%- include("partials/footer") -%>
